body {
  font-family: 'Inter', sans-serif;
}

input, select {
  outline: none;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

footer {
  font-size: 14px;
  font-weight: 500;
}

thead th {
  text-align: left;
}
